@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #381A54;
  --secondary: #FF700A;
  --tertiary: #651da1;
  --orange-gradient: linear-gradient(215deg,  #f12327, #fc7d2f);
 }

 body{
  background: #fff;
 }

